h1, h2, h3, h4 {
	padding-left:20px;
	font-family: Consolas;
}

h2 {
	color:purple;
}

h3 {
	color:darkred;
}

h4 {
	color:pink;
}

p {
	padding-left:40px;
	padding-right:40px;
}

li {
	margin-left:40px;
}